.content-profile{
    box-sizing: border-box;
}

.content-profile ul li{
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}

.content-profile ul li>i,
.content-profile ul li>span{
  margin: 0 0.5em;
}

.content-description{
  /* border:solid blue; */
}

.columns{
  display: flex;
  flex-direction: row;

}

.profile-name{
  font-size: 1em;
  font-weight: bold;
  padding: 2em;
      box-sizing: border-box;

}

.descr-title{
  background:transparent;
  padding: 2em;
}

.email{
  font-size: 1.2em;
  font-weight: bold;
}

.content-user{
  color:black;
  padding: 2em;
}
