<div class="columns login-img animated fast fadeIn">
<!--
  <form utocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()"> -->

  <form utocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()"
  class="column is-mobile is-3-widescreen is-4-desktop is-5-tablet">

    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input"
        type="text"
        placeholder="Usuario"
        formControlName="username"
        [class.is-success]="campoValido('username')"
        [class.is-danger]="campoNoValido('username')">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <!-- <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span> -->
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input"
        type="password"
        placeholder="Contraseña"
        formControlName="password"
        [class.is-success]="campoValido('password')"
        [class.is-danger]="campoNoValido('password')">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <div class="control has-icons-left">
        <div class="select">
          <select>
            <option selected >Empresa</option>
            <option>Lazzar Solutions</option>
            <option>Panamericana</option>
          </select>
        </div>
        <div class="icon is-small is-left">
          <i class="fas fa-business-time"></i>
        </div>
      </div>
    </div>

    <div class="field">
      <p class="control">
        <button  type="submit"
          class="button is-primary is-fullwidth is-medium">
          Ingresar
        </button>
      </p>
    </div>

    <!-- [routerLink]="['/home']" routerLinkActive="router-link-active" -->


  <!-- </div> -->
</form>

</div>
