<app-nav-empresa></app-nav-empresa>

<div class="container-fluid erp-bg animated fadeIn fast">

  <div class="container erp-bg-logo">

    <div class="title-erp-logo">
      <h1 class="h1">ERP NOW</h1>
    </div>

    <div class="des-erp-logo">

      <div class="des-erp">

        <div class="des-erp-title">
          ¿Que es ERP NOW?
        </div>
        <div class="des-erp-resume">
          <span>
            Es una solución de software empresarial, ERP NOW le ayuda a administrar y hacer crecer su negocio mediante
            la racionalización de su procesos, la optimización de los recursos, medir y mejorar el rendimiento.
            Establecer y garantizar los controles del negocio, automatizar tareas y eliminar la duplicación de
            esfuerzos a través de su organización por lo que es proactivo y con procesos dinámicos e intuitivos.
          </span>
        </div>
        <button class="btn btn-danger des-erp-btn" [routerLink]="['/login/abcdef']" routerLinkActive="router-link-active">
          INGRESAR
        </button>
      </div>

      <div class="img-erp">
        <img class="rounded" src="../../../assets/img/now-erp-logo.jpg">
      </div>

    </div>

  </div>

</div>
