<app-navbar></app-navbar>
<div class="contenedor-home animated fast fadeIn mt-4">

<div class="box-user p-2">Usuario: <span class="nameUser">{{ perfil.CDG_USR }}</span></div>
  <div class="row row-home">

      <!-- *ngFor="let heroe of heroes; let i= index" -->
      <app-card-modulo class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-4" (moduloSeleccionado)="verModulo($event)"
        [modulo]="modulo" [index]="i" *ngFor="let modulo of moduloIndex; let i= index">
      </app-card-modulo>

  </div>
</div>
