.contenedor-home{
  /* border:solid blue; */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.row-home{
  margin:0 15% !important;
}



.nameUser{
  color: rgba(17, 121, 169,1);
  font-weight: bolder;
}
