<div class="container-fluid login-bg">

  <button class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-11
  btn-volver btn btn-danger" [routerLink]="['/now/lazzarSolutions']" routerLinkActive="router-link-active">Regresar</button>
<!--
  <div class="title-login">
    <h1>Ingreso al Sistema Lazzar Solutions</h1>
  </div> -->

  <form autocomplete="off" [formGroup]="forma"
    class="formas col-xl-3 col-lg-4 col-md-6 col-sm-7 col-11">

    <div class="title-login">
      <h3>Ingreso al Sistema Lazzar Solutions</h3>
    </div>


      <div class="input-group mb-1">

        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fas fa-lock"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Contraseña" formControlName="username"
          [class.is-valid]="campoValido('username')" [class.is-invalid]="campoNoValido('username')">

        <div *ngIf="campoErrores('username')?.required" class="invalid-feedback">
          Campo requerido
        </div>

      </div>



    <div class="input-group mb-1">

      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="fas fa-lock"></i>
        </span>
      </div>
      <input type="password" class="form-control" placeholder="Contraseña" formControlName="password"
        [class.is-valid]="campoValido('password')" [class.is-invalid]="campoNoValido('password')">

      <div *ngIf="campoErrores('password')?.required" class="invalid-feedback">
        Campo requerido
      </div>

    </div>


    <div class="input-group mb-3">

      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="fas fa-business-time"></i>
        </span>
      </div>

      <select class="custom-select">
        <option selected>Seleccionar empresa</option>
        <option value="1">Lazzar Solutions</option>
        <option value="2">Catercu</option>
        <option value="3">Panamericana</option>
      </select>

    </div>


    <div class="input-group mb-3">
      <button type="submit" class="btn btn-info btn-block">
        Ingresar
      </button>
    </div>

  </form>

</div>
